@import url(http://db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones);

* {
  box-sizing: border-box;
}
body {
  height: 100%;
  padding-bottom: 60px;
  position: relative;
  background-image: url("images/got.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: bottom;
  background-color: #000000;
  color: #ffffff;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 15px;
  text-align: center;
  font-family: "Game of Thrones";
}

.menu p {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu p {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #c6b48d;
  color: #000000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu p:hover {
  background-color: #558da0;
}

/* Collapsible Descriptions */
.collapsible {
  background-color: #8f8d8a;
  color: #000000;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: 2px solid;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.9);
}

.mainDescr {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

li#books {
  line-height: 50px;
}
.footer {
  background-color: #8f8d8a;
  color: #ffffff;
  text-align: right;
  padding: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.quotes {
  padding: 30px;
}

#quoteBtn {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
